<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Szachuś</title>
  </head>
  <body>
    <h1>Szachuś</h1>
    <form action="#" method="post" id="login-form" style="display: none;">
      <h2>Zaloguj się</h2>
      <p>
        <label for="login-username">Nazwa użytkownika</label>
      </p>
      <p>
        <input
          type="text"
          autocomplete="username"
          id="login-username"
          name="username"
        />
      </p>
      <p>
        <label for="login-password">Hasło</label>
      </p>
      <p>
        <input
          type="password"
          autocomplete="current-password"
          id="login-password"
          name="password"
        />
      </p>
      <p>
        <button>Zaloguj</button>
      </p>
    </form>
    <script defer src="/index.js" type="module"></script>
  </body>
</html>